<table class="layui-table" lay-skin="line">
    <thead>
    <tr>
        <th>系统信息</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>当前版本：FunAdmin v{$now_version}&nbsp;&nbsp;
            <button id="upgrade" data-auth="{$auth}" data-login="{:__u('index')}"
                    data-check="{:__u('check')}"
                    class="layui-btn layui-btn-sm layui-btn-warm" >点此检测版本</button>
        </td>
    </tr>
    <tr>
        <td>服务器域名：{$url}</td>
    </tr>
    <tr>
        <td>服务器ip：{$server_ip}</td>
    </tr>
    <tr>
        <td>站点目录：{$document_root}</td>
    </tr>
    <tr>
        <td>当前协议：{$document_protocol}</td>
    </tr>
    <tr>
        <td>端口：{$server_port}</td>
    </tr>
    <tr>
        <td>PHP版本：{$php_version}</td>
    </tr>
    <tr>
        <td>数据库版本：{$mysql_version}</td>
    </tr>
    <tr>
        <td>Nginx：{$server_soft}</td>
    </tr>
    <tr>
        <td>服务器时间：{:date('Y-m-d H:i:s')}</td>
    </tr>
    </tbody>
</table>

{include file="layout/logintpl"}