<table class="layui-table" id="list" lay-filter="list"
       data-node-add="{:auth(__u('add'))}"
       data-node-edit="{:auth(__u('edit'))}"
       data-node-delete="{:auth(__u('delete'))}"
       data-node-destroy="{:auth(__u('destroy'))}"
       data-node-create="{:auth(__u('create'))}"
       data-node-addfile="{:auth(__u('addfile'))}"
       data-node-editfile="{:auth(__u('editfile'))}"
       data-node-delfile="{:auth(__u('delfile'))}"
       data-node-list="{:auth(__u('list'))}"
       data-node-tablelist="{:auth(__u('curd/table/index'))}"
></table>
