{layout name="layout/main" /}
<style>
    body{padding:10px}
    .layui-card .layui-card-header .layui-badge.pull-right{top:50%;margin-top:-10px;}
    .pull-right{float: right;}
    .layui-badge{height:20px;line-height:19px;box-sizing:border-box}
    .layui-badge-green{color:#52c41a;background:#f6ffed;border:1px solid #b7eb8f}
    .layui-badge-blue{color:#1890ff;background:#e6f7ff;border:1px solid #91d5ff}
    .layui-badge-red{color:#f5222d;background:#fff1f0;border:1px solid #ffa39e}
    .lay-big-font{font-size:36px;line-height:36px;padding:5px 0 10px;overflow:hidden;white-space:nowrap;word-break:break-all;text-overflow:ellipsis}
    .console-app-group{padding:16px;border-radius:4px;text-align:center;background-color:#fff;cursor:pointer}
    .console-app-group .console-app-icon{width:32px;height:32px;line-height:32px;margin-bottom:6px;display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:32px;color:#69c0ff}
    .layui-status-img img{width:40px}
</style>
<body>
<div class="fun-app" id="app">
    <div class="fun-container" style="background:#f2f2f2">
        <div class="layui-row layui-col-space15">
           
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-sm6" style="padding-bottom: 0;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-xs6 layui-col-sm3">
                        <div class="console-app-group" title="用户" lay-id="{:__u('member.member/index')}" data-iframe
                             data-url="{:__u('member.member/index')}">
                            <i class="console-app-icon layui-icon layui-icon-group"
                               style="font-size: 26px;padding-top: 3px;margin-right: 6px;"></i>
                            <div class="console-app-name">用户</div>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm3">
                        <div class="console-app-group">
                            <i class="console-app-icon layui-icon layui-icon-slider" style="color: #ffc069;"></i>
                            <div class="console-app-name">配置</div>
                        </div>
                    </div>
                   
                </div>

                <div class="layui-row layui-col-space15">
                    
                    
                </div>
            </div>
            <div class="layui-col-sm6" style="padding-bottom: 0;">
                
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-sm8">

                <div class="layui-card">
                    <div class="layui-row layui-col-space15">
                        
                    </div>
                </div>
                
            </div>
      
        </div>
    </div>
</div>

